.dashboard-notification:first-child {
    margin-top: 0!important;
}

.airport-card-head {
    display: flex;
    flex-direction: row;
    p {
        padding-right: 10px;
    }

}
.map-container {
    background-image: url('../../assets/map.png');
    height: 700px;
    background-size: cover;
}
.plan-tab {
    .ui.secondary.pointing.menu {
        background: white !important;
    }
}

.plane-green {
    color: green;
}
.plane-orange {
    color: orange;
}
.plane-red {
    color: red;
}
.plane-blue {
    color: blue;
}
