.list-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.right-header {
    display: flex;
    flex-direction: row;

    .create-button{
        height: 3rem !important;
        margin-left: 20px !important;
    }
}